/* common */
* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

.box {
  width: 80%;
  height: 95vh;
  margin: 3vh auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dropdownmenu > hr {
  margin: 0;
  padding: 0;
  border-color: black;
}

.dropdownmenu {
  /* dropdown settings */
  position: absolute;
  top: calc( 3vh + 1.5em );
  margin-left: 0.3em;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #F28B8B;
  transition: 0.3s;
  box-shadow: 3px 3px #464646;
  width: 8em;

  /* dropdownmenu open */
  border-right: 1px solid black;
  padding: 0.1em 0.5em;
  height: 20%;
}

.dropdownmenu_close, .dropdownmenu_close * {
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
}

.dropdownmenu * {
  margin: 0.1em;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.menuicon, .subDropdown {
  cursor: pointer;
}

.overlay {
  z-index: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 3vh;
  margin: 0 auto;
  height: 95vh;
  width:80%;
}

.chatcontainer {
  overflow: auto;
  background-color: #EDE1E1;
}

.chat {
  max-width: 80%;
}

/* WEB : 1920 ~ 1024 */
@media all and (min-width: 1024px) {

  /* ALL */
  html {
    font-size: 1.5em;
  }

  /* Header : Menubar */
  header {
    display: flex;
    justify-self: start;
    align-items: center;
    z-index: 1;
    background-color: #F28B8B;
  }

  .menuicon {
    margin: 0.3%;
    width: 1em;
    height: 1em;
  }

  .chatroom {
    font-size: 1em;
  }

  /* Article : ChatBox */
  .chatcontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .chatbox {
    display: flex;
    align-items: center;
    margin: 0.5%;
  }
  
  .chat {
    border: 1px solid black;
    padding: 0.5em;
  }

  .mychat {
    display: inline;
    align-self: flex-end;
    background-color: #FFE7C2;
  }

  .yourchat {
    display: inline;
    align-self: flex-start;
    background-color: white;
  }

  .youricon {
    align-self: flex-start;
    display: inline-flex;
    padding: 0.2em;
    margin-right: 0.5%;
    border: 1px solid black;
    background-color: #ffc5c5;
  }

  .youricon img {
    align-self: center;
    width: 1.8em;
    height: 1.8em;
    border: 1px solid black;
  }

  /* Footer : InputChat */
  footer {
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    padding: 8px;
  }

  /* input chatting */
  .input__chat {
    width: 80%;
    height: 1.5em;
    padding-left: 0.5em;
    font-size: 1em;
    border-radius: 50px;
  }

  .input__chatbutton {
    background-color: #EEEEEE;
    width: 8vw;
  }
}

/* Tablet : 768 ~ 1023 */
@media all and (min-width: 768px) and (max-width: 1023px) {

}

/* Mobile : ~ 767 */
@media all and (max-width: 767px) {

}
