/* common */
* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

.box {
  width: 80%;
  height: 95vh;
  margin: 3vh auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* WEB : 1920 ~ 1024 */
@media all and (min-width: 1024px) {

  /* ALL */
  body {
    font-size: 1.2em;
  }

  /* Header : Menubar */
  header {
    display: flex;
    justify-self: start;
    align-items: center;
    /* z-index: 1; */
    background-color: #F28B8B;
  }

  .menuicon {
    margin: 0.3%;
    width: 1em;
    height: 1em;
  }

  .chatroom {
    font-size: 1em;
  }

  /* Article : ChatBox */
  .chatcontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .chatbox {
    display: flex;
    align-items: center;
    margin: 0.5%;
  }
  
  .chat {
    border: 1px solid black;
    padding: 0.5em;
  }

  .mychat {
    display: inline;
    align-self: flex-end;
    background-color: #FFE7C2;
  }

  .yourchat {
    display: inline;
    align-self: flex-start;
    background-color: white;
  }

  .youricon {
    display: inline;
    width: 2em;
    height: 2em;
    margin-right: 0.5%;
    border: 1px solid black;
  }

  /* Footer : InputChat */
  footer {
    display: flex;
    justify-content: space-around;
    padding: 8px;
  }

  /* input chatting */
  .input__chat {
    width: 80%;
    height: 1.5em;
    padding-left: 0.5em;
    font-size: 1em;
    border-radius: 50px;
  }

  .input__chatbutton {
    background-color: #EEEEEE;
    width: 8vw;
  }
}

/* Tablet : 768 ~ 1023 */
@media all and (min-width: 768px) and (max-width: 1023px) {

}

/* Mobile : ~ 767 */
@media all and (max-width: 767px) {

}
